option_settings:
  - option_name: AMQP_HOST
    value: placeholder
  - option_name: RECEIVE_PATHS
    value: placeholder
  - option_name: AMQP_ROUTING_KEYS
    value: placeholder
  - option_name: AMQP_EXCHANGES
    value: placeholder
  - option_name: HEALTHCHECK_PATH
    value: placeholder
  - option_name: RECEIVE_PORT
    value: placeholder